<h1>Current Albums</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>
  <body>
    <% @albums.each do |album| %>
      <br>
        <p><%= link_to album.title, album %></p>
        <p><%= link_to 'Edit', edit_album_path(album) %></p>
        <p><%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <br>
    <% end %>
  
  <p><%= link_to 'New Album', new_album_path %></p>
  <p><%= link_to 'Back', homepage_path %></p>

  </body>


<br>
