<p id="notice"><%= notice %></p>

<p>
	<%= image_tag @image.picture_url(:thumb).to_s %>
</p>
<p>
  <strong>Label:</strong>
  <%= @image.label %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>

<%= link_to 'Share', share_path(@image) %> |
<%= link_to 'Edit', edit_image_path %> |
<%= link_to 'Back', album_path(@image.album) %>
